* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.footer{
    text-align: center;
    color: white;
    background-color: hsl(162, 57%, 40%);
    font-family: 'Times New Roman', Times, serif;
}

div.footer a{
    color: white;
    text-decoration: none;
}