* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

div.home-main, div.contact-main, div.projects-main, div.services-container {
    margin-top: 50px;
}

ul.ls-hp-service li{
    display: block;
    padding: 8px;
    color: #0f486e;
    font-family: 'Times New Roman', Times, serif
}

ul.ls-hp-service li:hover{
    background-color: hsl(0, 3%, 82%);
    color: white;
}

ul.our-services{
    list-style-type: none;
}

ul.our-services li{
    display: block;
    padding: 5px 0px;
}

ul.our-services li:hover{
    background-color: hsl(0, 2%, 52%);
    color: white;
}



